<ul class="menu">
    <li>
        <a href="{% url 'main:index' %}">
            на сайт
        </a>
    </li>
    <li>
        <a href="{% url 'myadmin:index' %}"
           class="{% if request.resolver_match.url_name == 'index' %}
                active
              {% endif %}">
            пользователи
        </a>
    </li>
    <li>
        <a href="{% url 'myadmin:categories' %}"
           class="{% if request.resolver_match.url_name == 'categories' or category.name %}
                active
              {% endif %}">
            категории
            {% if category %}
                :<span>{{ category.name }}</span>
            {% endif %}
        </a>
    </li>
</ul>
