{% extends 'authapp/base.html' %}
{% load static %}

{% block container %}
    <form class="form-horizontal" method="post">
        {% csrf_token %}
        {% if next %}
            <input type="hidden" name="next" value="{{ next }}">
        {% endif %}
        {{ form.as_table }}
        <br>
        <input class="btn btn-primary form-control" type="submit" value="Войти">
    </form>
    <a class="btn btn-success form-control" href="/social/login/vk-oauth2/">
        Войти через VK
    </a>
    <a class="btn btn-secondary form-control" href="{% url 'auth:register' %}">
        Зарегистрироваться
    </a>

{% endblock %}