{% extends 'authapp/base.html' %}
{% load static %}
{% load media_tags %}


{% block container %}
    <div class="h2 text-center head">
        Редактирование профиля
    </div>

    <form class="form-horizontal" action="{% url 'auth:update' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_table }}
        {{ profile_form.as_table }}
        <br>
        <input class="btn btn-primary form-control" type="submit" value="сохранить">
    </form>

    <a class="btn btn-secondary form-control" href="{% url 'main:index' %}">
        на главную
    </a>
    <br>
    <br>
    <div class="user_avatar"><img alt="" src="{{ user.avatar|media_folder_users }}"></div>
{% endblock %}
