{% if object.status == 'FM' %}
    <a href="{% url 'bookings:order_forming_complete' object.pk %}"
       class="btn btn-warning btn-round form-control last">
        совершить покупку
    </a>
    <a href="{% url 'bookings:order_delete' object.pk %}"
       class="btn btn-default btn-round form-control last">
        удалить
    </a>
{% endif %}

<a href="{% url 'bookings:index' %}"
   class="btn btn-info btn-round form-control last">
    к списку заказов
</a>
<a href="{% url 'main:index' %}"
   class="btn btn-default btn-round form-control last">
    на главную
</a>
